<div class="calendar"></div>

<% if current_client %>

<%= link_to "A client", url_for(controller: :events, action: :index, client_id: 4), method: :get %>

<%= link_to "Logout",destroy_client_session_path,method: :delete %>


<% end %>


<% if current_teacher and current_teacher.admin %>

<p><%= switch_user_select %></p>

<% end %>

<% if current_teacher %>


<%= link_to "A client", url_for(controller: :events, action: :index, client_id: 11), method: :post %>

<%= link_to "Logout",destroy_teacher_session_path,method: :delete %>
<% end %>